---
layout: archive
title: "Art"
permalink: /art/
author_profile: true
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<p>Some of my sketches. All sketches we done digitally on an Apple iPad.</p>

{% for year in site.data.years %}
<h2>{{ year }}</h2>
<div>
  <table>
    {% for sketch in site.data.art %}
    {% if sketch.year == year %}
    <tr>
        <td style="vertical-align:middle; width:100%;">
        <h1>{{ sketch.title }}</h1>
        <img src="{{ sketch.figure }}" style="max-height:400px; border-radius:10px;" />
      </td>
      <!-- <td style="vertical-align:middle; width:100%;">
        
      </td> -->
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}